<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To do list</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <div id="app" class="container">

            <div class="header">

                <form @submit.prevent="addTodo()">
                    <input type="text" placeholder="Aggiungi promemoria" v-model="newTodo" required>
                    <button type="submit">Aggiungi</button>
                </form>

            </div>
           
            <div class="todos-container">
                <ul>
                    <li v-for="(todo, index) in todos" :class="{done: todo.done}">
                        {{todo.text}}
                        <span @click="todo.done = !todo.done">V</span><span @click="removeTodo(index)">X</span>
                    </li>
                </ul>
            </div>

        </div>

        <script src="js/main.js"></script>
    </body>
</html>